<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css" rel="stylesheet" />
  </head>

  <body class="w-full h-screen  dark:bg-black flex items-center 
  justify-self-center ">

    <button onclick='changeBG()' id="theme" class="w-[6vw] h-[3.5vw] bg-gray-700 absolute top-2 right-6 rounded-lg">theme</button>

    <form class="max-w-sm mx-auto " get="/login" method="POST">  

      <div class="mb-5">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-950 dark:text-white">Your username</label>
        <input type="username" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="enter username" required />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-950  dark:text-white">Your password</label>
        <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
      </div>
    
      <button type="submit" id="submit" class="text-white bg-blue-700 border-gray-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
    </form>

    <script>
      
      function changeBG(){
       let body = document.body
       let allElement = document.querySelectorAll('*');

       body.style.backgroundColor = body.style.backgroundColor === 'white'? 'black':'white';

       body.style.color = body.style.backgroundColor === 'black'? 'white':'black';

       let theme = document.querySelector('#theme');
       let submit = document.querySelector('#submit');

       allElement.forEach(element => {
        if(element.id === 'submit' || element.id === 'theme'){
          submit.style.backgroundColor = 'bg-blue-700'

          theme.style.backgroundColor = body.style.backgroundColor === 'black'? 'white':'black';
          theme.style.color = body.style.color === 'black'? 'white':'black';

        }else{
          element.style.backgroundColor = body.style.backgroundColor;
          element.style.color = body.style.color;

          document.querySelector('form').style.backgroundColor = body.style.backgroundColor;
        }
       });

      }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.js"></script>
  </body>
</html>